@{
	ViewData["Title"] = "Admin Panel";
}

<div class="container">
    <h1>Ласкаво просимо, Адміністраторе</h1>
    <p>Це ваша адміністративна панель</p>

    <div class="alert alert-info" role="alert">
        Ви увійшли як **Адміністратор**.
    </div>

</div>
